.App {
  text-align: center;
}

.services-list{
  background:#f7f7f7;
  padding:50px;
}

.block-service{
  font-family: 'Acumin Pro Condensed';
  position: relative;
  margin: 1.5rem;
  background: #FFF;
  display: inline-block;
  text-transform: uppercase;
  cursor:pointer;
}

.block-service.active{
  background: linear-gradient(115.73deg, #FEC213 0%, #1E9083 100%);
  color:#fff;
}

.block-service__title{
  padding:1em 4em;
}

.block-cost{
  background-color:#ccc;
  padding:3px;
  position:absolute;
  background: #FEC213;
  color:#000;
  left: -10px;
  bottom: -10px;
  font-size: .8em;
  width: 15px;
  text-align: center;
}

.block-qty{
  position: absolute;
  background: #FEC213;
  right: -10px;
  bottom: -10px;
  font-size: .8em;
  padding: 3px;
  color:#000;
  display: flex;
}

.block-qty-value{
  margin: 0 .5em;
  font-size: .8em;
}

.qty-btn{
  padding:3px;
  background-color:transparent;
  border-radius: 50%;
  line-height: 6px;
  border: 1px solid #000;
}
